body {
    background-image: radial-gradient( circle farthest-corner at -5.6% -6.8%,  rgba(103,49,145,1) 37.3%, rgba(50,0,129,1) 73.5% );
    color: white;
    pointer-events: none;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    text-align: left;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 30px;
    margin-top: -30px;
    margin-left: 10px;
}

#time {
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
}

#time span {
    display: inline-block;
    width: 4vw;
    user-select: none;
}

#sec {
    margin-right: -5px;
}

.dot {
    width: auto;
    padding: 0 4px;
}

#count {
    width: 3vw;
    font-size: 85%;
    margin-left: -25px;
}

#buttons {
    pointer-events: auto;
    display: flex;
    gap: 40px;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 35px;
    color: white;
    background: none;
    border: none;
}

.btn:active {
    transform: scale(0.95);
}

#start:focus {
    color: rgb(86, 214, 86);
}

#stop:focus {
    color: rgb(223, 40, 37);
}
